<ng-container *ngIf="products.length !=0">
    <div class="container"><div class="card-table">
    <div class="card-product">
   <table class="table table-responsive">
    <thead>
        <tr>
            <th>Sr.No</th>
            <th>Id</th>
            <th>Product Name</th>
            <th>Image</th>
            <th>Description</th>
            <th>Section</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Action</th>       
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of products; let i=index" >
            <td>{{i+1}}</td>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td><img style="width: 25%;" src="{{item.image}}"alt=""></td>
            <td style="width:25%;">{{item.description}}</td>
            <td style="width: 12%;">{{item.section}}</td>
            <td>{{item.price}}</td>
            <td><button type="btn btn-success" class="btn" (click)="inc(item)"><i class="fa fa-plus"></i></button>{{item.quantity}}<button type="btn btn-danger" class="btn" (click)="dec(item)"><i class="fa fa-minus"></i></button></td>
            <td>{{item.price*item.quantity}}</td>
            <td><button  (click)="removeCartItem(item)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></td>
        </tr>
        <tr>
            <td colspan="5"></td>
            <td><button  (click)="removeAllCart()" class="btn btn-danger">Empty Cart</button></td>
            <td><button routerLink="" class="btn btn-primary">ShopMore</button></td>
            <td><button  routerLink="/check" class="btn btn-success">Checkout</button></td>
            <td><strong>Grand Total:{{ grandTotal | currency :'INR'}}</strong></td>
            
        </tr>
    </tbody>
   </table>
    </div>
</div>
</div>






</ng-container>
<ng-container *ngIf="products.length==0">
<div class="container">
    <div class="card">
        <h5 class="card-title">My Cart</h5>
   
    <div class="center">
        <img src="assets/images/empty.jfif" alt="">
        <h3>Please buy something!</h3>
        <h5>Add item to it</h5>
<button  routerLink="" class="btn btn-primary">Shop now</button>
    </div>
</div>
</div>
</ng-container>