<div class="container">
    <div class="row">
        <div class="col-md-6">
            <section class="step-indicator ">
                <div class="step step1">
                    <div class="step-icon"></div>
                    <p>Login</p>
                </div>
                <div class="indicator-line active"></div>
                <div class="step step2 ">
                    <div class="step-icon"></div>
                    <p>Shipping</p>
                </div>
                <div class="indicator-line active"></div>
                <div class="step step3 active">
                    <div class="step-icon"></div>
                    <p>Payment</p>
                </div>
                <div class="indicator-line active"></div>
                <div class="step step4">
                    <div class="step-icon"></div>
                    <p>Confirmation</p>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <form action="" class="input">
                <div class="payment-title">
                    <div class="payment-body">
                        <span class="payment-span"><i class="fa-solid fa-2x fa-credit-card"></i></span>
                        <input class="payment-input" type="text">
                <button routerLink="/confirm">Create account</button>

                    </div>
                </div>
            </form>
        </div> 
    </div>
</div>