<div class="container">
    <div class="row">
        <div class="col-md-6">
            <section class="step-indicator">
                <div class="step step1">
                    <div class="step-icon"></div>
                    <p>Login</p>
                </div>
                <div class="indicator-line active"></div>
                <div class="step step2 active">
                    <div class="step-icon"></div>
                    <p>Shipping</p>
                </div>
                <div class="indicator-line active"></div>
                <div class="step step3">
                    <div class="step-icon"></div>
                    <p>Payment</p>
                </div>
                <div class="indicator-line "></div>
                <div class="step step4">
                    <div class="step-icon"></div>
                    <p>Confirmation</p>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="shipping">
                <div class="shipping_container">
                    <div class="shipping_form">
                        <h1>BillingAdress</h1>
                        <form>
                        <label>Doornumber</label>
                        <input type="text" placeholder="doornumber please" name="Doornumber" required>
                        <label>Street</label>
                       <input type="text" name="Street"placeholder="Street name" required>
                         <label>Telephone</label>
                         <input type="tel" name="telephone"required>
                         <label>Email</label>
                         <input type="email" name="Email" placeholder="email please..." required>
                            <button class="loginbutton" routerLink="/pay">Proceed to pay</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
