<div class="container">
    <div class="row">
        <div class="col-md-6">
            <section class="step-indicator">
                <div class="step step1 active">
                    <div class="step-icon"></div>
                    <p>Login</p>
                </div>
                <div class="indicator-line active"></div>
                <div class="step step2">
                    <div class="step-icon"></div>
                    <p>Shipping</p>
                </div>
                <div class="indicator-line "></div>
                <div class="step step3">
                    <div class="step-icon"></div>
                    <p>Payment</p>
                </div>
                <div class="indicator-line "></div>
                <div class="step step3">
                    <div class="step-icon"></div>
                    <p>Confirmation</p>
                </div>
            </section>
        </div>
    </div>
    <div class="row" style="width: 30%;margin-top: 5%;margin-left: 20%;">
        <img class="login-logo" src="../assets/image/nike-logo.jpg" alt="" style="width:60%;">
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="login">
                <div class="login_container">
                    <div class="login_form">
                        <h1>login</h1>
                        <form class="content" [formGroup]="Form" (ngSubmit)="submitData()"  >
                            <div class="  mt-2 mb-2 col-lg-12 col-lg-12">
                                <input type="text" formControlName="emailId" class="form-control" placeholder="Email Id">
                             <div  *ngIf="emailId.invalid &&(emailId.touched || emailId.dirty)">
                                <span class="error" *ngIf="emailId.errors?.required">*EmailId is required.</span>
                                <span class="error" *ngIf="emailId.errors?.email">*Enter Valid email.</span>
                                
                             </div> 
                            
                            </div>
                             <div class="  mt-2 mb-2  col-lg-12 col-12">
                                <input type="text" formControlName="mobileNumber" class="form-control" placeholder="phone number">
                             
                                <div  *ngIf="mobileNumber.invalid &&(mobileNumber.touched || mobileNumber.dirty)">
                                    <span class="error" *ngIf="mobileNumber.errors?.required">*mobileNumber is required.</span>
                                    <span class="error" *ngIf="mobileNumber.errors?.pattern">*Enter Valid mobileNumber.</span>
                                    
                                 </div> 
                                </div>
                                <div class="  mt-2 mb-2  col-lg-12 col-12">
                                    <input type="text" formControlName="PASSWORD" class="form-control" placeholder="password please">
                                 
                                    <div  *ngIf="PASSWORD.invalid &&(PASSWORD.touched || PASSWORD.dirty)">
                                        <span class="error" *ngIf="PASSWORD.errors?.required">*PASSWORD is required.</span>
                                        <span class="error" *ngIf="PASSWORD.errors?.pattern">*Enter Valid PASSWORD.</span>
                                        
                                     </div> 
                                    </div>
            
                            <button class="loginbutton"  [disabled]="Form.invalid" routerLink="/ship">login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="margin-left: 20px;">
            <div class="login">
                <div class="login_container">
                    <div class="login_form">
                        <form style=" height: 265px;padding-top: 120px;">
                            <button class="loginbutton" routerLink="/ship">Guest</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>